nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: rgb(50, 50, 50);
}

#logo {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#divider {
    width: 2px;
    height: 60px;
    position: absolute;
    left: 70px;
    top: 5px;
    background-color: rgb(80, 80, 80);
    border-radius: 1px;
    display: inline-block;
}

#links {
    position: absolute;
    left: 70px;
}

.link {
    width: 100px;
    height: 32px;
    margin-left: 15px;
    margin-top: 15px;
    padding-top: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: 0.25s;
}

.selected {
    background-color: rgba(255, 255, 255, 0.15);
    font-weight: bold;
}

.unselected { 
    background-color: rgba(255, 255, 255, 0);
}

.unselected:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#logout {
    width: 125px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
    color: white;
    background-color: rgb(220, 170, 0);
    font-size: 18px;
    font-weight: bold;
    border-style: hidden;
    border-radius: 5px;
}

#spacing {
    height: 70px;
}